@model sBlog.Net.Areas.Prepare.Models.DatabaseSetupModel

<div>
    @if (!string.IsNullOrEmpty(Model.CompleteException))
    {
        <div style="border: 1px dashed black; background-color: #FE2E64; padding: 5px">
            <h3 style="text-align: center; font-weight: bold;">failed in an astronomical fashion :(</h3>
            <br />
            here is the complete <strong>stack trace</strong>. if you need some help, go to 
            <a href="http://sblogproject.net/" target="_blank" style="color: blue; text-decoration: none">sBlog.Net's homepage</a> 
            and use the <span style="color: blue; border-bottom: 1px dashed black">contact</span> form available...
            <br /><br />

            @Model.CompleteException
        </div>
    }

</div>
