@model sBlog.Net.Models.BlogPostPageViewModel

@{
    ViewBag.Title = string.Format("{0} {1} || {2} || page {3}", Model.Month.GetMonthName(), Model.Year, Model.BlogName.ToLower(), Model.CurrentPageNumber);
}

@if (!Model.Any)
{
    <div>there are no posts for this year & month.</div>
}

@foreach(var post in Model.Posts)
{
    @Html.Partial("Post", post)
}
<br />
@if (Model.Any && Model.PreviousPageValid)
{
    <div style="float: left">
        @Html.RouteLink("<< Previous Page", "PostByYearMonthPaged", new { year = Model.Year, month = Model.Month, pageNumber = Model.PreviousPageNumber }, new { @class = "link" })
    </div>
}

@if (Model.Any && Model.NextPageValid)
{
    <div style="float: right">
        @Html.RouteLink("Next Page >>", "PostByYearMonthPaged", new { year = Model.Year, month = Model.Month, pageNumber = Model.NextPageNumber }, new { @class = "link" })
    </div>
}
