@model sBlog.Net.Models.CheckBoxListViewModel

<div id="categories">
	@Html.Partial("CheckBoxList", Model)
    <br/>
    <input type="text" id="txtCat" />&nbsp;<input type="button" id="btnAdd" value="add" class="btn btn-warning btn-sm" />
</div>
