@model sBlog.Net.Models.CheckBoxListViewModel

<div id="categories">
	@Html.Partial("CheckBoxList", Model)
    <input type="text" id="txtCat" />&nbsp;<input type="button" id="btnAdd" value="add" />
</div>
