<div class="notice">
    sBlog.Net now has the ability to manage the database from the web ui itself! But it seems like you never ran that :( 
    Click <a href="@Url.RouteUrl("InitializeDatabase")">here</a> to finish the process!
</div>
<br/>
