@model Int32

@if (Model < 1)
{
    <tr class="manage-row">
        <td class="manage-cell">
            there are no items in this section at this point!
        </td>
        <td class="manage-cell">
        </td>
        <td class="manage-cell">
        </td>
    </tr>
}
