@model string

<div id="tags">
    <span id="tag-info">&nbsp;(click tags to remove)</span><br />
	<input type="text" id="txtTag" name="txtTag" value="" />&nbsp;<button id="btnAddTags" class="btn btn-warning btn-sm">add</button>
    <br /><br />
    <div id="addedTags" class="tagCollection">
            
    </div>
    <input type="hidden" id="hdnAddedTags" name="hdnAddedTags" value="@Model" />
</div>
