@{
    ViewBag.Title = "sBlog.Net // Credits";
}

<h3>Credits</h3>
<br />

Powered by <a href="http://sblogproject.net" target="_blank">sBlog.Net</a>
<br /><br />

Many thanks to...<br /><br />
<ul>
    <li><a href="http://www.asp.net/mvc" target="_blank">ASP.Net MVC</a></li>
    <li><a href="http://jquery.com" target="_blank">jQuery</a></li>
    <li><a href="http://www.freecsstemplates.org/" target="_blank">Free CSS Templates</a></li> 
    <li><a href="http://bootswatch.com/" target="_blank">Bootswatch - Themes by Thomas Park</a></li>
    <li><a href="http://ckeditor.com/" target="_blank">CKEditor</a></li>
    <li><a href="http://alexgorbatchev.com/SyntaxHighlighter/" target="_blank">Syntax Highlighter</a></li>
    <li>
        <a href="http://www.iconfinder.com/" target="_blank">IconFinder</a><br/><br/>
        The images used in the administration section and the blog were downloaded from the IconFinder site and most of them use the 
        Creative Commons or the LGPL license. Few of them use their own ways of licensing. Every image is listed below along with the
        specific version of the license and a link to the author's website.<br/><br/>
        <b>Creative Commons</b><br/><br/>
        <ul>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/9241/48/add_document_file_new_page_plus_icon">Add post</a> | License: <a href="http://creativecommons.org/licenses/by-nc-nd/2.5/" target="_blank">CC-nc-nd 3.0</a> | <a href="http://www.oxygen-icons.org/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/35769/32/arrow_bullet_down_icon">Arrow (blog)</a> | License: <a href="http://creativecommons.org/licenses/by/3.0/us/" target="_blank">CC 3.0</a> | <a href="http://www.fatcow.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/34641/48/comments_forum_icon">Comments</a> | License <a href="http://www.iconfinder.com/data/icons/bloggin/Terms%20Of%20Use.txt">CC 3.0</a> | <a href="http://www.blogperfume.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/45908/16/category_icon">Categories</a> | License <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC 3.0</a> | <a href="http://p.yusukekamiyamane.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/62028/48/collapse_icon">Collapse</a> | License: <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-sa 3.0</a> | <a href="http://www.wpzoom.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/49312/128/css_icon">Css</a> | License: <a href="http://creativecommons.org/licenses/by/3.0/">CC 3.0</a> | <a href="http://tooschee.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/49296/128/doc_icon">Doc</a> | License: <a href="http://creativecommons.org/licenses/by/3.0/us/" target="_blank">CC 3.0</a> | <a href="http://www.vistaico.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/62032/48/expand_icon">Expand</a> | License: <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-sa 3.0</a> | <a href="http://www.wpzoom.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/36495/128/file_javascript_icon">Javascript</a> | License: <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">CC-nc-sa 3.0</a> | <a href="http://ahmad-hania.wateentech.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/48812/128/manage_school_icon">Manage posts</a> | License: <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-sa 3.0</a> | <a href="http://neurovit.deviantart.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/10593/48/employee_man_people_profile_user_icon">Profile</a> | License: <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC 3.0</a> | <a href="http://www.webappers.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/47562/128/file_rar_icon">Rar</a> | License: <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC 3.0</a> | <a href="http://tooschee.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/59177/32/account_contact_icon">Request an account</a> | License: <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC 3.0</a> | <a href="http://pc.de/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/54526/128/network_social_social_network_icon">Social sharing</a> | License: <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-sa 3.0</a> | <a href="http://www.aha-soft.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/64877/32/tags_three_icon">Tags</a> | License: <a href="http://creativecommons.org/licenses/by/3.0/us/" target="_blank">CC 3.0</a> | <a href="http://www.fatcow.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/9122/128/unknown_icon">Unknown file</a> | License: <a href="http://creativecommons.org/licenses/by-nc-nd/2.5/" target="_blank">CC-nc-nd 3.0</a> | <a href="http://www.oxygen-icons.org/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/49270/128/construction_under_icon">Under construction</a> | License: <a href="http://creativecommons.org/licenses/by/3.0/us/" target="_blank">CC 3.0</a> | <a href="http://www.vistaico.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/27886/128/upload_icon">Uploads</a> | License: <a href="http://creativecommons.org/licenses/by-nd/3.0/" target="_blank">CC-nd 3.0</a> | <a href="http://www.visualpharm.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/8898/128/document_excel_spreadsheet_table_icon">Xls</a> | License: <a href="http://creativecommons.org/licenses/by-nc-nd/2.5/" target="_blank">CC-nc-nd 2.5</a> | <a href="http://www.oxygen-icons.org/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/47569/128/file_zip_icon">Zip</a> | License: <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC 3.0</a> | <a href="http://tooschee.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="https://www.iconfinder.com/icons/134225/anchor_link_ocean_sea_ship_icon">Link</a> | License: <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC 3.0</a> | <a href="https://www.iconfinder.com/iconsets/wirecons-free-vector-icons#readme" target="_blank">Author</a></li>
            <li><a target="_blank" href="https://www.iconfinder.com/icons/48761/add_file_upload_icon">File upload</a> | License: <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC 3.0</a> | <a href="http://neurovit.deviantart.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="https://www.iconfinder.com/icons/173049/login_icon">Login</a> | License: <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC 3.0</a> | <a href="https://www.iconfinder.com/snipicons" target="_blank">Author</a></li>
        </ul>
        <br/>
        <b>LGPL</b><br/><br/>
        <ul>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/3784/128/blank_document_file_page_paper_icon">Add page</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://www.everaldo.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/3206/128/cancel_close_cross_delete_exit_no_remove_icon">Close/Delete/Remove</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://www.everaldo.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/1959/128/button_close_delete_forward_remove_x_icon">Close/Delete/Remove II</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://sa-ki.deviantart.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/2385/128/jpeg_icon">Jpeg</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://sa-ki.deviantart.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/1447/128/administrator_employee_male_man_manager_operator_personal_user_icon">Manage pages</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://www.icon-king.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/3745/128/document_pdf_icon">Pdf</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://www.everaldo.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/2407/128/png_icon">Png</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://sa-ki.deviantart.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/17814/128/preferences_settings_tools_icon">Settings</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://www.everaldo.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/17933/128/highlight_marker_icon">Syntax highlighter</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://www.everaldo.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/6417/128/paper_text_txt_writing_icon">Txt</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://sa-ki.deviantart.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/17879/128/community_group_help_user_icon">User management</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://www.everaldo.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="https://www.iconfinder.com/icons/17904/cabinet_drawer_file_filing_manager_icon">Manager</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://www.everaldo.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="https://www.iconfinder.com/icons/18214/settings_software_icon">Settings</a> | License: <a href="http://www.gnu.org/licenses/lgpl.html" target="_blank">LGPL</a> | <a href="http://www.everaldo.com/" target="_blank">Author</a></li>
        </ul>
        <br/>
        <b>Others</b><br/><br/>
        <ul>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/82136/128/_icon">Dashboard</a> | <a href="http://www.iconfinder.com/data/icons/ledicons/readme.txt" target="_blank">License</a> | <a href="http://rimshotdesign.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/32560/24/preview_text_icon">Preview</a> | <a href="http://www.iconfinder.com/data/icons/freeapplication/readme.txt" target="_blank">License</a> | <a href="http://www.aha-soft.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="http://www.iconfinder.com/icondetails/15209/128/document_file_xml_icon">Xml</a> | <a href="http://www.woothemes.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="https://www.iconfinder.com/icons/174634/add_user_icon">Add user</a> | <a href="http://icons8.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="https://www.iconfinder.com/icons/100315/logoff_power_icon">Logoff</a> | <a href="http://dakirby309.deviantart.com/" target="_blank">Author</a></li>
            <li><a target="_blank" href="https://www.iconfinder.com/icons/131514/auditor_bullets_checkboxes_manager_organize_organizer_stock_supervisor_task_to_do_list_todo_user_icon">Manage user</a> | <a href="https://www.iconfinder.com/krasnoyarsk" target="_blank">Author</a></li>
            <li><a target="_blank" href="https://www.iconfinder.com/icons/300105/bubble_chat_comment_communication_connection_mail_message_messages_send_talk_icon">Comments</a> | <a href="https://www.iconfinder.com/Re66y" target="_blank">Author</a></li>
        </ul>
    </li>
    <li>
        <b>Social features</b>
        <ul>
            <li>Social icons from <a href="http://medialoot.com/item/round-social-media-icons/" target="_blank">Medialoot</a></li>
            <li>Some inspiration for css from the post by <a href="http://bradsknutson.com/blog/css3-rollover-social-media-icons/" target="_blank">Brad S. Knutson</a>!</li>
        </ul>
    </li>
    <li>
        <a href="http://findicons.com/" target="_blank">Findicons</a>
        <ul>
            <li><a href="http://findicons.com/icon/437377/open_in_new_window" target="_blank">Open in new window</a> | License: <a href="http://creativecommons.org/licenses/by-nd/3.0/" target="_blank">CC-nd 3.0</a> | <a href="http://www.interactivemania.com/" target="_blank">Author</a></li>
        </ul>
    </li>
    <li>
        <a href="http://vaishnavicharanya.wordpress.com/" target="_blank">404 Images</a>
    </li>
</ul>

<br />
And also...<br /><br />

<ul>
    <li><a href="http://jqueryui.com" target="_blank">jQuery UI</a></li>
    <li><a href="http://mvcsocialhelper.codeplex.com/" target="_blank">MVC Social Helper</a></li>
    <li>
        <a href="http://growmap.com/growmap-anti-spambot-plugin/" target="_blank">Growmap anti-spam plugin</a>
        <br/><br/>
        Native commenting in sBlog.Net borrows the idea of this wordpress plugin to stop spam, without the use of CAPTCHA or reCAPTCHA.
        <br/><br/>
    </li>
    <li><a href="http://akismet.com/" target="_blank">Akismet</a> and <a href="http://akismetapi.codeplex.com/" target="_blank">Akismet Api for .Net</a></li>
    <li><a href="http://www.crockford.com/javascript/jsmin.html" target="_blank">JS Min</a></li>
</ul>
