@model string

<div id="footer">
    <p>Copyright (c) @DateTime.Now.Year <span class="blog-name">@Model</span>. All rights reserved. (Powered by the 
    <a href="http://sblogproject.net" target="_blank">sBlog.Net</a> blogging engine - @Html.RouteLink("Full Credits", "Credits")). 
    Design by <a href="http://bootswatch.com/slate/" target="_blank">Thomas Park (Bootswatch - Slate)</a> - [Licensed under 
    <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache v2.0</a>])!</p>
</div>