<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="sblognetSettings" type="sBlog.Net.Configuration.SblogNetSettingsConfiguration, sBlog.Net.Configuration"/>
  </configSections>

  <sblognetSettings connectionString="Server=localhost;Database=sblog;user id=msuser1;password=msuser1;" enableMiniProfiler="true" 
                    hasherFullyQualifiedTypeName="sBlog.Net.Domain.Hashers.Sha5Hasher" cacheDuration="15" bitlyUserName="sampleaccount" 
                    bitlyApiKey="samplekey" editorType="html">
    <theme selectedTheme="PerfectBlemish" />
    <socialFeatures enabled="false" twitterId="" githubId="" facebookId="" pinterestId=""
                                   dropboxId="" flickrId="" instagramId="" linkedinId=""
                                   soundcloudId="" spotifyId="" tumblrId="" />
  </sblognetSettings>

  <appSettings>

  </appSettings>

  <connectionStrings>

  </connectionStrings>
</configuration>
