<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="sblognetSettings" type="sBlog.Net.Configuration.SblogNetSettingsConfiguration, sBlog.Net.Configuration"/>
  </configSections>

  <sblognetSettings enableMiniProfiler="true">
    <theme selectedTheme="PerfectBlemish" />
    <socialFeatures enabled="false" twitterId="" githubId="" facebookId="" pinterestId=""
                                   dropboxId="" flickrId="" instagramId="" linkedinId=""
                                   soundcloudId="" spotifyId="" tumblrId="" />
  </sblognetSettings>

  <appSettings>

  </appSettings>

  <connectionStrings>

  </connectionStrings>
</configuration>
