@model object

@if (Model != null && (Model as string) != null && !string.IsNullOrEmpty(Model.ToString()))
{
    <img src="@Url.Content("~/Content/Images/shortlink.png")" alt="short link" title="get shortlink"/>
    <a href="javascript:void(0)" class="short-url-link"> shortlink</a><br/>
    <div class="short-link">
        short url for this post <br/>
        <input id="bitlyLink" type="text" style="width: 300px" value="@Model.ToString()" /><br />
        <a class="close-link">close</a>
    </div>
}
