@model ArchiveCollection

<div id="section1" class="menu">
	<h2>archives</h2>
	<ul style="list-style-type:none;">
	    @foreach (Archive archive in Model)
        {
            <li>
                @{ var url = Url.RouteUrl("PostByYearMonth", new { year = archive.Year, month = archive.Month }); }
                <a href="@url" title="@archive.MonthYear">@archive.MonthYear</a>
            </li>
        }
    </ul>
</div>
