@model string
           
<p>Copyright (c) @DateTime.Now.Year <span class="blog-name">@Model</span>. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> (Project @Html.RouteLink("Credits", "Credits"))</p>
