@model string
           
<p>Copyright (c) @DateTime.Now.Year <span class="blog-name">@Model</span>. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> (Powered by the <a href="http://sblogproject.net" target="_blank">sBlog.Net</a> blogging engine - @Html.RouteLink("Full Credits", "Credits"))</p>
