@model IEnumerable<sBlog.Net.Domain.Entities.PostEntity>

<div id="section1" class="menu">
	<h2>recent posts</h2>
	<ul style="list-style-type:none;">
	    @foreach(var post in Model)
        {
            <li>
                @{ var url = Url.RouteUrl("IndividualPost", new { year = post.PostYear, month = post.PostMonth, url = post.PostUrl, status = string.Empty }); }
                <a href="@url" title="@post.PostTitle">@post.PostTitle</a>
            </li>
        }
    </ul>
</div>
