<div id="section3" class="menu">
	<h2>site options</h2>
	<ul style="list-style-type:none;">
		<li>@Html.Partial("_LogOnPartial")</li>
	    <li>@Html.ActionLink("dashboard", "Index", "Admin", new { Area = "Admin" }, new { })</li>
        <li>@Html.ActionLink("blog authors", "AuthorListing", "Author")</li>
		<li>@Html.ActionLink("post rss","Index", "RssFeed")</li>
	</ul>
</div>
